@font-face {
  font-family: "Great Escape W00 Regular";
  src: url("../assets/fonts/GreatEscapeW00/fb3c4b71bdef21fc01e7cbb87aaa91cf.eot"); /* IE9*/
  src: url("../assets/fonts/GreatEscapeW00/fb3c4b71bdef21fc01e7cbb87aaa91cf.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GreatEscapeW00/fb3c4b71bdef21fc01e7cbb87aaa91cf.woff2") format("woff2"), url("../assets/fonts/GreatEscapeW00/fb3c4b71bdef21fc01e7cbb87aaa91cf.woff") format("woff"), url("../assets/fonts/GreatEscapeW00/fb3c4b71bdef21fc01e7cbb87aaa91cf.ttf") format("truetype"), url("../assets/fonts/GreatEscapeW00/fb3c4b71bdef21fc01e7cbb87aaa91cf.svg#Great Escape W00 Regular") format("svg"); /* iOS 4.1- */
}
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Neue Haas Unica Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

body {
  background-color: #141d2b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto;
  color: #fff;
  font-family: "Great Escape W00 Regular", sans-serif;
}

p {
  color: #a4b1cd;
  font-family: "Neue Haas Unica Pro", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.button.is-primary {
  background-color: #ef5400;
  transition: 0.2s;
}
.button.is-primary:hover {
  background-color: #ff7023;
}

.navbar {
  background-color: #111927;
  padding: 1rem 0;
  box-shadow: 0 9px 15px -12px #000;
}
.navbar .navbar-item {
  color: #a4b1cd;
  font-weight: 500;
  transition: 0.2s;
}
.navbar .navbar-item img {
  max-height: 3rem;
}
.navbar .navbar-item h3 {
  font-size: 1.5rem;
  margin-right: 2rem;
}
.navbar .navbar-item:hover {
  color: white;
  background: unset;
}
.navbar .navbar-burger {
  color: white;
}
.navbar .navbar-menu {
  background-color: #111927;
}

.content-wrap section {
  overflow: hidden;
  background: linear-gradient(0deg, #1a2332 15%, #141d2b 0);
}
.content-wrap section.landing {
  padding-top: 5rem;
}
.content-wrap section .container {
  max-width: 100% !important;
  padding-top: 3rem;
  padding-bottom: 7.5rem;
  margin: auto;
}
.content-wrap section .container div {
  margin-left: auto;
  margin-right: auto;
}

.main-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 3rem;
}
.main-logo .logo-text {
  color: #fff;
  font-family: "Great Escape W00 Regular", sans-serif;
}
.main-logo .logo-text h1 {
  margin: auto;
  text-align: center;
  font-size: 5rem;
  font-weight: normal;
}
.main-logo .logo-text h2 {
  margin: auto;
  text-align: center;
  font-size: 1.6rem;
  font-weight: normal;
}
.main-logo .line {
  width: 100%;
}
.main-logo .line .line-block {
  height: 15px;
  width: 100%;
  background-color: #0c0502;
  opacity: 0.6;
}
.main-logo .line.top-line img {
  width: 30%;
  margin: auto;
  display: block;
  position: relative;
  top: 11px;
  z-index: 10;
}
.main-logo .line.bottom-line {
  margin-top: 1rem;
}
.main-logo .presentation-text {
  width: 80%;
  text-align: center;
  margin: 2rem auto;
  font-size: 1.2rem;
  font-weight: 400;
}
.main-logo .presentation-text p {
  margin: 1rem 0 2rem 0;
}
@media screen and (max-width: 648px) {
  .main-logo {
    width: 95%;
  }
  .main-logo .logo-text h1 {
    font-size: 3rem;
  }
}

.splide__slide img {
  height: 100%;
}

.registered {
  vertical-align: super;
}

.media-content {
  overflow: hidden;
}

section.about {
  background: #1a2332;
}
section.about h2 {
  font-size: 3rem;
  margin: auto;
  text-align: center;
}
section.about article {
  width: 95%;
  margin: 2rem auto;
  background-color: #141d2b;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
section.about article .article-content {
  width: 55%;
}
section.about article .article-content h3 {
  font-size: 2rem;
}
section.about article .article-content li {
  padding-left: 1rem;
}
section.about article .article-content .article-text p {
  margin: 1rem 0;
}
section.about article .article-image {
  width: 35%;
}
section.about article .article-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
section.about article .article-bottom .card {
  margin: 0.2rem;
  flex-grow: 1;
  background: #111927;
  transition: 0.3s;
}
section.about article .article-bottom .card:hover {
  flex-grow: 5;
}
section.about article .article-bottom .card .title {
  color: #fff;
}
section.about article .article-bottom .card .subtitle {
  color: #a4b1cd;
}
@media screen and (max-width: 768px) {
  section.about article {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  section.about article h3 {
    text-align: center;
  }
  section.about article .article-content {
    width: 100%;
  }
  section.about article .article-image {
    width: 80%;
  }
}

section.partners {
  background: #1a2332 !important;
  margin-top: -10rem;
}
section.partners article {
  width: 95%;
  margin: 2rem auto;
  background-color: #141D2B;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
section.partners article .article-content {
  width: 100%;
}
section.partners article .article-content h2 {
  font-size: 3rem;
}
section.partners article .article-content .partner-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 200vh;
}
section.partners article .article-content .partner-list .partner {
  width: 45%;
  height: 18rem;
  background-color: #212d39;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  position: relative;
}
section.partners article .article-content .partner-list .partner .logo-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  transition: left 500ms ease, bottom 500ms ease;
}
section.partners article .article-content .partner-list .partner .logo-container .partner-logo {
  max-width: 100%;
  max-height: 100%;
}
section.partners article .article-content .partner-list .partner .partner-name {
  font-size: 1.75rem;
  position: absolute;
  top: 2.25rem;
  left: 1.5rem;
}
section.partners article .article-content .partner-list .partner .partner-description {
  position: absolute;
  top: 35%;
  bottom: 4.75rem;
  left: 1.5rem;
  right: 1.5rem;
  font-size: 0.95rem;
}
section.partners article .article-content .partner-list .partner .long-description {
  font-size: 0.8rem;
}
section.partners article .article-content .partner-list .partner .short-description {
  font-size: 1.1rem;
}
@media screen and (max-width: 1560px) {
  section.partners article .article-content .partner-list .partner .partner-description {
    font-size: 0.9rem !important;
  }
  section.partners article .article-content .partner-list .partner .long-description {
    font-size: 0.7rem !important;
  }
  section.partners article .article-content .partner-list .partner .short-description {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 1290px) {
  section.partners article .article-content .partner-list .partner .partner-description {
    font-size: 0.8rem !important;
  }
  section.partners article .article-content .partner-list .partner .long-description {
    font-size: 0.7rem !important;
  }
  section.partners article .article-content .partner-list .partner .short-description {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 1280px) {
  section.partners article .article-content .partner-list .partner .partner-description {
    font-size: 0.7rem !important;
  }
  section.partners article .article-content .partner-list .partner .long-description {
    font-size: 0.6rem !important;
  }
  section.partners article .article-content .partner-list .partner .short-description {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 1023px) {
  section.partners article .article-content .partner-list .partner {
    width: 100%;
    height: 18rem;
  }
  section.partners article .article-content .partner-list .partner .partner-description {
    font-size: 0.9rem !important;
  }
  section.partners article .article-content .partner-list .partner .long-description {
    font-size: 0.8rem !important;
  }
  section.partners article .article-content .partner-list .partner .short-description {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 650px) {
  section.partners article .article-content .partner-list .partner .partner-description {
    font-size: 0.8rem !important;
  }
  section.partners article .article-content .partner-list .partner .long-description {
    font-size: 0.7rem !important;
  }
  section.partners article .article-content .partner-list .partner .short-description {
    font-size: 0.9rem !important;
  }
}
@media screen and (max-width: 540px) {
  section.partners article .article-content .partner-list .partner .partner-description {
    font-size: 0.7rem !important;
  }
  section.partners article .article-content .partner-list .partner .long-description {
    font-size: 0.6rem !important;
  }
  section.partners article .article-content .partner-list .partner .short-description {
    font-size: 0.7rem !important;
  }
  section.partners article .article-content .partner-list .partner .partner-website {
    display: none;
  }
}
section.partners article .article-content .partner-list .partner .partner-website {
  position: absolute;
  bottom: 1.25rem;
  left: 4rem;
  right: 4rem;
}
section.partners article .article-content .partner-list .partner .partner-name, section.partners article .article-content .partner-list .partner .partner-description, section.partners article .article-content .partner-list .partner .partner-website {
  opacity: 0;
  transition: opacity 750ms ease;
}
section.partners article .article-content .partner-list .partner:hover .logo-container, section.partners article .article-content .partner-list .partner:focus .logo-container {
  bottom: 60%;
  left: 60%;
}
section.partners article .article-content .partner-list .partner:hover .partner-name, section.partners article .article-content .partner-list .partner:hover .partner-description, section.partners article .article-content .partner-list .partner:hover .partner-website, section.partners article .article-content .partner-list .partner:focus .partner-name, section.partners article .article-content .partner-list .partner:focus .partner-description, section.partners article .article-content .partner-list .partner:focus .partner-website {
  opacity: 100%;
}

/*# sourceMappingURL=index.css.map */
